$colors: (white, black, green, blue, red, yellow, pink, purple, sky, lime, lightgrey, grey);
.text {
  @each $color in $colors {
    &-#{$color} {
      color: #{$color};
    }
  }
}
.bg {
  @each $color in $colors {
    &-#{$color} {
      background-color: #{$color};
    }
  }
}
