@mixin std-padding {
  padding: 1rem !important;
}
@mixin dense-padding {
  padding: 0.5rem !important;
}
@mixin no-padding {
  padding: 0 !important;
}
@mixin std-gutter {
  margin: 1rem !important;
}
@mixin dense-gutter {
  margin: 0.5rem !important;
}
@mixin no-gutter {
  margin: 0 !important;
}

@mixin std {
  @include std-gutter;
  @include std-padding;
}
@mixin dense {
  @include dense-gutter;
  @include dense-padding;
}
@mixin no-spacing {
  @include no-gutter;
  @include no-padding;
}

@mixin centered {
  justify-content: center;
  align-items: center;
}

$column-count: 1;
$base-division: 12;

@function get-col-percent($column-count) {
  @return $column-count / $base-division * 100%;
}

.flex {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include std;
  &-reverse {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    @include std;
  }
  &.no-wrap {
    flex-wrap: nowrap !important;
    @media screen and (max-width: 768px) {
      flex-wrap: wrap !important;
    }
  }
  &.dense {
    @include dense;
  }
  &.no-gutters {
    @include no-gutter;
  }
  &.no-padding {
    @include no-padding;
  }
  @while $column-count <= 12 {
    .col-#{$column-count} {
      display: flex;
      flex-direction: column;
      flex-basis: get-col-percent($column-count);
      width: get-col-percent($column-count);
      padding: 0.5rem;
      .dense {
        padding: 0.2rem !important;
      }
      @media screen and (max-width: 768px) {
        flex-basis: 100%;
        width: 100%;
      }
    }
    // Increment the counter
    $column-count: $column-count + 1;
  }
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @include std;
  &-reverse {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    @include std;
  }
  &.no-wrap {
    flex-wrap: nowrap !important;
  }
  &.dense {
    @include dense;
  }
  &.no-gutters {
    @include no-gutter;
  }
  &.no-padding {
    @include no-padding;
  }
}

$flex-justify: (
  flex-start,
  flex-end,
  start,
  end,
  left,
  right,
  center,
  space-between,
  space-around,
  space-evenly
);
.justify {
  @each $justification in $flex-justify {
    &-#{$justification} {
      justify-content: #{$justification};
    }
  }
}

$flex-align: (
  stretch,
  flex-start,
  flex-end,
  center,
  baseline,
  start,
  end,
  self-start,
  self-end
);
.align {
  @each $flex-align in $flex-align {
    &-#{$flex-align} {
      align-items: #{$flex-align};
    }
  }
}
